###############################################################################
# Kairo Go™ Handheld Console TUI
#
# Product Name:       Kairo Go
# Platform:           Portable / Dockable Gaming Console
# Firmware Type:      Text-Based System Interface (TUI)
# Version:            1.0.0
# Release Date:       19/10/2003
#
# Developed By:       OSAKA Systems
# Development Team:   Osaka Systems Embedded & Firmware Division
# Lineage:            Osaka '0 Series System Software
# Architecture:       ARM64 / Custom Embedded SoC
#
# Description:
#   This theme file removes shadow from the dialog in kairo-tui.sh
#
# Legal & Licensing Notice:
#   Copyright © 2003 OSAKA Systems. All rights reserved.
#
#   This software is proprietary and confidential. It is intended solely
#   for installation and execution on official Kairo Go hardware.
#   Unauthorized use, reproduction, modification, reverse engineering,
#   distribution, or disclosure, in whole or in part, without prior
#   written consent from OSAKA Systems, is strictly prohibited.
#
# Warranty Disclaimer:
#   Provided "as is" without warranty of any kind. OSAKA Systems shall not
#   be liable for any damages arising from the use of this firmware.
#
# Security Notice:
#   Attempts to bypass protections, inject unauthorized code, or tamper with
#   firmware settings are prohibited and may void the warranty.
#
# Internal Use Only:
#   Intended for authorized OSAKA Systems personnel. Not for public release.
#
# Contact:
#   OSAKA Systems
#   Embedded Systems Division
#   support@osakasystems.com
#
###############################################################################



# Minimal test file for dialogrc parsing
use_shadow = OFF
